{% extends 'base.html' %}
{% block content %}




<div class="container-fluid">
  <h1 class="mt-4">Formulario</h1>
  <div class="mt-5">
    <form method="POST" class="post-form">
      {% csrf_token %}

      {{ form.errors }}
      {{ form.non_field_errors }}
      {{ form.errors }}
      {{ form.non_field_errors }}


      <div class="mb-5 mt-5">
        <label for="exampleFormControlTextarea1" class="form-label"><h3>Introduce url</h3></label>
        <input name="text" class="form-control" id="exampleFormControlTextarea1" ></input>
      </div>
      <p>
        <input type="submit" value="Enviar">
        <input type="reset" value="Restaurar">
      </p>
    </form>

    <p>
      https://dominio.gal/, https://www.xunta.gal/, https://www.cgrl.gal/, https://amtega.xunta.gal/, https://arquivosdegalicia.xunta.gal/, https://www.barciaxalo.gal/ 

    </p>
  </div>



  {{ form.text}}


  {% for key, post in thislist.items %}
  <div class="col-xl-12">
    <div class="card-body">
      <h5 class="card-title"><a target="_blank" href="http://{{ post.dominio }}"> {{ post.dominio }}</a></h5>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <div class="row">
        <div class="col-xl-6">
          <img class="captura" src="http://{{ request.get_host }}{{ post.captura }}" width="100%" alt="me">
        </div>
        <div class="col-xl-6">
          <img class="logo" src="{{ post.logo }}" height="50" alt="me">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Titulo: </strong> {{ post.titulo }}</li>
            <li class="list-group-item"><strong>Descripción: </strong> {{ post.descripcion }}</li>
            <li class="list-group-item"><strong>Palabras clave: </strong> {{ post.keywords }}</li>
            <li class="list-group-item"><strong>CMS: </strong> {{ post.cms }}</li>
            <li class="list-group-item"><strong>RRSS: </strong>   
              {% for po in post.rrss %}
                 <p>{{ po }}</p> 
              {% endfor %}
            </li>
            {% for key, value in post.infoserver.items %}
            <li class="list-group-item"><strong>{{ key }}: </strong> {{ value }}</li>
            {% endfor %}
            <li class="list-group-item"><strong>Datos de portada: </strong>   
              {% for key,po in post.advertools_info.items %}
                <ul>
                  <li class="list-group-item"> <strong>{{ key }}:</strong> {{ po }}</li>
                </ul>
              {% endfor %}
            </li>
            <li class="list-group-item"><strong>Outros datos Whois: </strong></li>
              {% for key, value in post.activa.items %}
              <ul>
                <li class="list-group-item"> {{ value }}</li>
              </ul>
              {% endfor %}
            </li>
          </ul>
      </div>
    </div>
  </div>
  {% endfor %}



</div>

{% endblock %}
